
  

.input-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  h2{
   
    font-size: 20px;
    text-align: left;
    color: white;
   
    background-size: 450% 100%;
    animation: gradientAnimation 8s ease infinite;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #00bcd4;
    
  }
  mat-card {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
  }
  
  mat-card-actions {
    justify-content: flex-end;
    margin-top: 20px;
   
  }
  
  .mat-button{
    margin-right: 20px;
    margin-top: 5px;
    background-color: green;
    color: white;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .mat-raised-button{
    margin-right: 20px;
    margin-top: 5px;
    background-color: green;
    color: white;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .mat-toolbar{
    font-size: 20px;
    text-align: left;
    color: white;
    background: linear-gradient(to right, #00bcd4, #4caf50, #ffeb3b, #e91e63);
    background-size: 450% 100%;
    animation: gradientAnimation 8s ease infinite;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }